{% extends 'include/base.html' %}

{% block title %} <title>Display Report</title> {% endblock %}

{% block content %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-10 mx-auto shadow">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <h4 class="text-success font-weight-bolder">{{ message }}</h4>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <table class="table table-bordered table-active mt-3">
                    <thead class="bg-dark">
                    <tr class="text-white">
                        <th>Date</th>
                        <th>Ambassador ID</th>
                        <th>Queue ID</th>
                        <th>State</th>
                        <th>Amount</th>
                        <th>Reason</th>
                        <th>Task Count</th>
                        <th>Update</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in data %}
                        <tr>
                            <td>{{ data["cdate"] }}</td>
                            <td>{{ data["amb"] }}</td>
                            <td>{{ data["queue"] }}</td>
                            <td>{{ data["state"] }}</td>
                            <td>{{ data["amount"] }}</td>
                            <td>{{ data["reason"] }}</td>
                            <td>{{ data["task"] }}</td>
                            <td><a class="btn btn-success" href="{{ url_for('update', amb=data.amb,queue=data.queue ) }}">Update</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}